includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - tests
    level: 9
    ignoreErrors:
        -
            message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:once\\(\\)\\.$#"
            count: 1
            path: tests/Feature/Livewire/NameGeneratorTest.php
